.banner{
	background: url(../img/image2.jpeg) no-repeat center top;
	background-size: cover;
}

.rounded-circle{
	border-radius: 50% !important;
}

.package .fa{
	font-size: 40px;
}

.service-banner{
	background: url(../img/image2.jpeg) no-repeat center top;
	background-size: cover;
}

.service-footer{
	background-color: black;
}

.navbar-nav a{
	margin-left: 15px;
}